image: node:latest

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/

stages:
  - build
  - test
  - deploy

build:
  stage: build
  script:
    - npm ci

# test:
#   stage: test
#   script:
#     - npm run test

deploy:
  stage: deploy
  script:
    - echo "Deploying to production"