# Jon Anta Buljo Hansen
Jon Anta Buljo Hansen <jonantab@stud.ntnu.no> Jon Anta Buljo Hansen <jonantab@stud.ntnu.no> 
Jon Anta Buljo Hansen <jonantab@stud.ntnu.no> Jonanta <jonanta@gmail.com>
Jon Anta Buljo Hansen <jonantab@stud.ntnu.no> jonanta <jonanta@gmail.com>

# Sigve Johan Hov
Sigve Johan Hov <sigvejh@stud.ntnu.no> Sigve Johan Hov <sigvejh@stud.ntnu.no>

# Bendik Westerheim-Hjemås
Bendik Westerheim-Hjemås <bendik.westerheim-hjemas@ntnu.no> bendiwe <93137211+bendiwe@users.noreply.github.com>

# Simon Sandvik Lee
Simon Sandvik Lee <simonsle@stud.ntnu.no> Simon Sandvik Lee <simonsandviklee@gmail.com> 
Simon Sandvik Lee <simonsle@stud.ntnu.no> SaiYue <74411800+saiyuewastaken@users.noreply.github.com> 
Simon Sandvik Lee <simonsle@stud.ntnu.no> Simon Sandvik Lee <simonsle@stud.ntnu.no>

# Heidi Herfindal Rasmussen
Heidi Herfindal Rasmussen <heidihra@stud.ntnu.no> heidihra <heidihra@stud.ntnu.no>
Heidi Herfindal Rasmussen <heidihra@stud.ntnu.no> Heidi Herfindal Rasmussen <heidihra@stud.ntnu.no>
